- var devMode = self.htmlWebpackPlugin.options.data.DEV_MODE
doctype
html
	head
		meta(charset='UTF-8')
		title ebook
		link(rel="shortcut icon" type="image/ico" href="favicon.ico")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2, user-scalable=yes, shrink-to-fit=yes")
		meta(name="description" content="")
		meta(property="og:title" content="")
		meta(property="og:description" content="")
		meta(property="og:image" content="")
		script.
			var ebookAPI = window.top.ebookAPI;
	body
		#app
